@model IEnumerable<MyOrdersListServiceModel>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Seller</th>
                <th>Parts</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Seller</td>
                    <td>@string.Join(", ", order.Parts.Values)</td>
                    <td>@order.TotalPrice</td>
                    <td>@(order.IsCompleted ? "Completed" : "Waiting for response")</td>
                    <td><a asp-area=""
                           asp-controller="Orders"
                           asp-action="Cancel"
                           asp-route-id="@order.Id"
                           class="btn btn-sm btn-danger">
                        Cancel order
                    </a></td>
                </tr>
            }
        </tbody>
    </table>