@model IEnumerable<CarListServiceModel>

<div class="row">
    @foreach (var car in Model)
    {
        <div style="margin-bottom: 20px;" class="col-md-6">
            <a asp-area=""
               asp-controller="Cars" asp-action="Details"
               asp-all-route-data="@(new Dictionary<string, string> {{"id", @car.Id.ToString()}})">
                <div class="row col-md-6">
                    @if (car.Picture == null)
                    {
                        <img src="~/images/noImage.jpg" height="130" width="190" />
                    }
                    else
                    {
                        <img src="@car.Picture" height="130" width="190" />
                    }
                </div>
                <div class="col-md-4">
                    <h5>Make: @car.Make</h5>
                    <h5>Model: @car.Model</h5>
                    <h5>Added: @car.Added.ToShortDateString()</h5>
                </div>
            </a>
        </div>
    }
</div>