@model IEnumerable<OrderListServiceModel>
@{
    ViewData["Title"] = "My orders";
}
<h2 class="text-center">@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <p style="margin-top: 40px;" class="text-center">You have no orders.</p>
}
else
{
    
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Seller</th>
            <th>Price</th>
            <th>Parts</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Seller</td>
                <td>@order.Price лв.</td>
                <td>
                    @string.Join(", ", order.Parts)
                </td>
                <td>
                    <a asp-area=""
                       asp-controller="Orders" asp-action="SendRequest" asp-route-orderId="@order.Id"
                       class="btn btn-sm btn-success">Request purchase</a>
                    <a asp-area=""
                       asp-controller="Orders" asp-action="Delete" asp-route-orderId="@order.Id"
                       class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
