@model CarDetailsServiceModel



@if (TempData.Keys.Contains(WebConstants.TempDataErrorMessageKey))
{
    <div class="well well-sm text-center" style="color: red">@TempData[WebConstants.TempDataErrorMessageKey]</div>
}

@if (TempData.Keys.Contains(WebConstants.TempDataSuccessMessageKey))
{
    <div class="well well-sm text-center" style="color: green">@TempData[WebConstants.TempDataSuccessMessageKey]</div>
}

<div class="row">
    <div class="col-md-5">
        <p>@Model.Views преглеждания</p>
        <div style="margin-bottom: 20px" class="row text-center">
            @if (Model.Picture == null)
            {
                <img src="~/images/noImage.jpg" height="230" width="360" />
            }
            else
            {
                <img src="@Model.Picture" />
            }
        </div>
        <div class="text-center">
            @if (User.IsInRole(WebConstants.AdministratorRole) || Model.OwnerUsername == User.Identity.Name)
            {

                <a asp-area=""
                   asp-controller="Cars"
                   asp-action="Edit"
                   asp-all-route-data="@(new Dictionary<string, string> {{"id", @Model.Id.ToString()}})"
                   class="btn btn-sm btn-warning">Edit</a>
                <a asp-area=""
                   asp-controller="Cars"
                   asp-action="Delete"
                   asp-all-route-data="@(new Dictionary<string, string> {{"id", @Model.Id.ToString()}})"
                   class="btn btn-sm btn-danger">Delete</a>
            }
            @if (Model.OwnerUsername == User.Identity.Name)
            {
                <a class="btn btn-sm btn-success"
                   asp-area=""
                   asp-controller="Parts"
                   asp-action="Add"
                   asp-route-id="@Model.Id">
                    Add part
                </a>
            }
        </div>
        <div class="well row">
            <div class="col-md-6">
                <p><strong>Make</strong> : @Model.Make</p>
                <p><strong>Model</strong> : @Model.Model</p>
                <p><strong>Engine</strong> : @Model.EngineType.ToString()</p>
                <p><strong>Body type</strong> : @Model.BodyType.ToString()</p>
                <p><strong>Year Of Production</strong> : @Model.YearOfProduction</p>
            </div>
            <div class="col-md-6">
                <p><strong>Description</strong> : @(Model.Description ?? "No description.")</p>
            </div>
        </div>
        <div class="well row">
            <p><strong>Added on</strong> : @Model.Added.ToShortDateString()</p>
            <p><strong>Owner</strong> : @Model.Owner</p>
            <p><strong>Tel.</strong> : @(Model.PhoneNumber ?? "No info.")</p>
        </div>
        <hr />
    </div>

    <div class="col-md-6 col-md-offset-1">
        @await Component.InvokeAsync("PartList", new { id = @Model.Id })
    </div>
</div>