@model CarServiceModel
@{
    ViewData["Title"] = "Edit Car";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfProduction"></label>
                <select asp-for="YearOfProduction" class="form-control">
                    @for (int year = DataConstants.MaxYear; year >= DataConstants.MinYear; year--)
            {
                <option value="@year">@year</option>
    }
                </select>
                <span asp-validation-for="YearOfProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineType"></label>
                <select asp-for="EngineType" asp-items="@Html.GetEnumSelectList(typeof(EngineType))" class="form-control"></select>
                <span asp-validation-for="EngineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyType"></label>
                <select asp-for="BodyType" asp-items="@Html.GetEnumSelectList(typeof(BodyType))" class="form-control"></select>
                <span asp-validation-for="BodyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice"></label>
                <input asp-for="TotalPrice" min="1" step="1" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" style="resize: vertical" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture"></label>
                <input asp-for="Picture" class="form-control btn btn-default" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <button type="button" onclick="goBack()" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-warning">Edit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

