@model PartServiceModel

<h3 class="text-center">Parts</h3>

@if (Model.Parts.Any())
{
    foreach (var part in Model.Parts)
    {
        <div class="row well">
            <div class="col-md-3">
                @if (part.Picture == null)
                {
                    <img src="~/images/noImage.jpg" height="100" width="150"/>
                }
                else
                {
                    <img src="@part.Picture" />
                }
            </div>
            <div class="col-md-5 col-md-offset-2">
                <p>Part: @part.Name</p>
                <p>Price: @part.Price лв.</p>
                <p>Description: @(part.Description ?? "No description.")</p>
            </div>
            @if (User.Identity.Name == Model.OwnerUsername)
            {
                <div class="text-center">
                    <a asp-area=""
                       asp-controller="Parts"
                       asp-action="Edit"
                       asp-all-route-data="@(new Dictionary<string, string> {{"id", part.Id.ToString()}})"
                       style="margin-bottom: 1%; margin-top: 1%;" class="btn btn-sm btn-warning">
                        Edit
                    </a>
                    <a asp-area=""
                       asp-controller="Parts"
                       asp-action="Delete"
                       asp-all-route-data="@(new Dictionary<string, string> {{"id", part.Id.ToString()}})"
                       class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </div>
            }
            @if (User.Identity.IsAuthenticated && User.Identity.Name != Model.OwnerUsername)
            {
                <br/>
                <a asp-area=""
                   asp-controller="Orders"
                   asp-action="Add"
                   asp-route-partId="@part.Id"
                   asp-route-carId="@part.CarId"
                   class="btn btn-sm btn-success">Add to cart</a>
            }
        </div>
    }
}
else
{
    <br />
    <h4 class="text-center">No parts available.</h4>
}

